*,
html,
body {
  padding: 0;
  margin: 0;
}
#Players {
  margin: 20px 0px;
  text-align: center;
}
#rowPlateau {
  margin: 20px 0px;
}
#rowPlateau #Plateau {
  box-sizing: border-box;
  position: relative;
  top: 0;
  left: 0;
  border: 1px solid red;
  margin: auto;
}
#rowPlateau #Plateau td {
  border: 1px solid red;
  width: 200px;
  height: 200px;
  font-size: 100px;
  text-align: center;
}
#playButton {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}
#playButton:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
